.search_header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4169e1;
  min-height: 50px;
}

.search_input {
  min-width: 500px;
  height: 40px;
  border: none;
}

.search_btn {
  height: 40px;
  width: 40px;
  border: none;
  margin: 0;
}

.search-form {
  display: flex;
  height: 40px;
  margin: 0;
}

.photo-card {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border: 2px solid black;
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  margin-top: 30px;
  width: 354px;
  max-height: 300px;
  max-width: 352px;
  box-sizing: border-box;

  border: 1px solid #eeeeee;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12);
}

.info {
  display: inline-flex;
  min-height: 70px;
}

.info-item {
  text-align: center;
}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  box-sizing: border-box;
}

img {
  width: 352px;
  height: 228px;
}

.container {
  display: flex;
  margin: 0 auto;
  -webkit-box-align: center;
  justify-content: center;
  align-items: center;
  max-width: 1558px;
}

.load-more {
  display: flex;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px 45px;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  color: white;
  background: #6225e6;
  transition: 1s;
  box-shadow: 6px 6px 0 black;
  transform: skewX(-15deg);
}

.load-more:focus {
  outline: none;
}

.load-more:hover {
  transition: 0.5s;
  box-shadow: 10px 10px 0 #fbc638;
}

.load-more span:nth-child(2) {
  transition: 0.5s;
  margin-right: 0px;
}

.load-more:hover span:nth-child(2) {
  transition: 0.5s;
  margin-right: 45px;
}

span {
  transform: skewX(15deg);
}

span:nth-child(2) {
  width: 20px;
  margin-left: 30px;
  position: relative;
  top: 12%;
}

/**************SVG****************/

path.one {
  transition: 0.4s;
  transform: translateX(-60%);
}

path.two {
  transition: 0.5s;
  transform: translateX(-30%);
}

.load-more:hover path.three {
  animation: color_anim 1s infinite 0.2s;
}

.load-more:hover path.one {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.6s;
}

.load-more:hover path.two {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.4s;
}
